

/*basics*/
html{
    height: 100%;
}



/*Header*/
header{
    background-color: #0B3954;
    color: #BFD7EA;
    width: 100%;
    text-align: right;
    padding: 5% 0%;
}
header a{
    color: #BFD7EA;
    text-decoration: none;

}
h1{
    padding: 5%;
}

hr{
    color: #BFD7EA;
    width: 90%;
}

ul{
    list-style-type: none;
    margin: 0px;
}

nav {
    padding: 10px;
    padding-right: 5%;

}

nav a:link{
    color: #BFD7EA;
}
nav a:hover{
    text-decoration: underline;
    color: #ffffff;
}


body {

	text-align: center;
	background-image: url("../picture/park.jpeg");
	background-repeat: no-repeat;
	background-size: cover;

}
img {
	float: right;
	width: 350px;
	margin-top: 30px;
	margin-left: 30px;
	clear: right;
}


h1, h2, h3, h4, p, li a {
	color: black;
	font-family: "Verdana";
}

h1 {
	font-size: 28px;
}

h2 {
	font-size: 24px;
}

p {
	font-size: 20px;
}

li.nav {
    float: left;
}

li a.nav {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgba(245, 122, 122, 0.92);
}

div.separate {
	background-color: rgb(200, 0, 0);
}

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	background: rgba(240, 233, 132, 0.92);
}

div#back {
	width: 80%;
	padding: 14px;
	height: auto;
	display: inline-block;
	text-align: left;
}

/*body*/

main{
    background-color: #BFD7EA;
    padding-top: 5%;
}
.login{
    height: 100%;
}

/*body articles*/
article{
    position: relative;
    margin: 20px 20%;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 3px 3px #999999;
}
.comment{
    position: relative;
    margin: 15px 15px 15px 30px;
    background-color: #BFD7EA;
    padding: 10px;
    box-shadow: 3px 3px #999999;
}
.date{
    position: absolute;
    right: 5px;
    bottom: 5px;
    font-size: .75em;
    color: darkgrey;
    padding: 5px;
}

textarea{
    display: block;
    width: 60%;
    height: 80px;
    margin: auto;
    font-family: 'Helvetica', 'Arial', 'sans-serif';

}
textarea.work{
    width: 90%;
    height: 50px;
    margin: 15px 15px 15px 30px;
}
.workBtn{
    margin-left: 5%;
}

#create{
    margin-left: 20%;
}
input[type="submit"]{
    margin-top: 10px;
    background-color: #0B3954;
    border: none;
    color: #BFD7EA;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: .75em;
}

.wrapper{
    width: 200px;
    margin: auto;
}
