*{
    margin:0;
    padding: 0;
}

header{

    background-image: linear-gradient(rgb(0, 0, 0,0.5),rgba(0,0,0.5)), url(image/suf01.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;

    
}
h1{
    font-size: 55px;
    letter-spacing: 12px;
 }

 p{
     font-size: 18px;
     margin-bottom:26px;
    
 }
.test{

    top:  50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    color:#fff;
    text-align: center;
}
   