*{
    margin:0;
    padding: 0;
}

header{

    background-image: linear-gradient(rgb(0, 0, 0,0.5),rgba(0,0,0.5)), url(image/suf01.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;

    
}
h1{
    font-size: 55px;
    letter-spacing: 12px;
 }

 p{
     font-size: 18px;
     margin-bottom:26px;
    
 }
.test{

    top:  50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    color:#fff;
    text-align: center;
}
.logo{
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
  
  }
  .nav-links{
    display:flex;
    justify-content: space-around;
    width: 40%;
  
  }
  
  .nav-links li{
    list-style: none;
  }
  
  .nav-links{
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
  }
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #5D4954;
    font-family: 'Poppins' , sans-serif;
  }