.my first test{
	background-color: #00BCD4;
	font-size: 2em;
}

.my second test{
	font-size: 0.7em;
}

#div2 {
	background-color: #4DD0E1;
}

#div3 {
	background-color: #B2EBF2;
}

.my third test{
	font-weight: bold;
}