

/*basics*/
html{
    height: 100%;
}

body {

	text-align: center;
	background-image: url("../picture/park.jpeg");
	background-repeat: no-repeat;
	background-size: cover;

}
img {
	float: right;
	width: 350px;
	margin-top: 30px;
	margin-left: 30px;
	clear: right;
}


h1, h2, h3, h4, p, li a {
	color: black;
	font-family: "Verdana";
}

h1 {
	font-size: 28px;
}

h2 {
	font-size: 24px;
}

p {
	font-size: 20px;
}

li.nav {
    float: left;
}

li a.nav {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgba(245, 122, 122, 0.92);
}

div.separate {
	background-color: rgb(200, 0, 0);
}

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	background: rgba(240, 233, 132, 0.92);
}

div#back {
	width: 80%;
	padding: 14px;
	height: auto;
	display: inline-block;
	text-align: left;
}
.login {
    /* margin: 100px 300px 100px 300px; */
    background-color: white;
    border-radius: 5px;
	padding: 15px;
	box-shadow: 0 4px 8px 0 rgb(1, 22, 44);
}

.white {
    background-color: white;
    padding: 15px 50px 15px 50px;
    /* margin: 10%; */
    box-shadow: 0 4px 8px 0 rgb(1, 22, 44);
}

